## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [24]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [25]:
# Your code here
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)
len(sample_list_1)

[98, 66, 12, 13, 84, 31, 69, 80, 50, 83, 59, 1, 49, 76, 45, 11, 26, 97, 38, 42, 25, 4, 86, 43, 99, 96, 90, 30, 17, 56, 89, 53, 6, 58, 21, 36, 60, 61, 35, 74, 81, 94, 40, 77, 82, 63, 20, 52, 24, 87, 33, 72, 34, 68, 29, 91, 73, 79, 28, 75, 46, 71, 7, 5, 2, 44, 47, 22, 93, 51, 88, 41, 0, 95, 39, 55, 23, 8, 18, 37]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [26]:
# Your code here
set1 = set
set()
set1 = (sample_list_1)
print(set1)
print(len(set1))

[98, 66, 12, 13, 84, 31, 69, 80, 50, 83, 59, 1, 49, 76, 45, 11, 26, 97, 38, 42, 25, 4, 86, 43, 99, 96, 90, 30, 17, 56, 89, 53, 6, 58, 21, 36, 60, 61, 35, 74, 81, 94, 40, 77, 82, 63, 20, 52, 24, 87, 33, 72, 34, 68, 29, 91, 73, 79, 28, 75, 46, 71, 7, 5, 2, 44, 47, 22, 93, 51, 88, 41, 0, 95, 39, 55, 23, 8, 18, 37]
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [33]:
# Your code here
sample_list_2 = [random.randint(1,100) for _ in range(80)]
print(sample_list_2)

[9, 90, 66, 66, 53, 33, 61, 84, 99, 68, 60, 57, 10, 67, 50, 65, 73, 100, 56, 67, 92, 37, 35, 44, 11, 53, 68, 43, 82, 46, 44, 64, 95, 12, 58, 78, 1, 94, 25, 42, 82, 88, 22, 16, 35, 98, 35, 26, 82, 26, 2, 69, 10, 14, 88, 97, 37, 65, 46, 59, 66, 74, 65, 42, 49, 39, 45, 96, 60, 38, 14, 49, 10, 35, 19, 51, 52, 79, 46, 68]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [28]:
# Your code here
set2 = set
set()
set2 = (sample_list_2)
print(set2)
print(len(set2))

[6, 93, 18, 86, 74, 99, 79, 23, 23, 98, 4, 3, 31, 78, 22, 52, 93, 68, 73, 6, 12, 34, 78, 10, 70, 49, 91, 40, 29, 45, 43, 43, 8, 7, 18, 56, 88, 31, 18, 38, 12, 60, 51, 42, 60, 55, 23, 73, 46, 47, 93, 32, 77, 70, 8, 34, 16, 42, 3, 99, 3, 45, 32, 78, 6, 61, 2, 33, 58, 89, 82, 74, 14, 29, 45, 100, 73, 79, 36, 98]
80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [29]:
# Your code here
set3 = [element for element in set1 if element not in set2]
print(set3)

[66, 13, 84, 69, 80, 50, 83, 59, 1, 76, 11, 26, 97, 25, 96, 90, 30, 17, 53, 21, 35, 81, 94, 63, 20, 24, 87, 72, 28, 75, 71, 5, 44, 41, 0, 95, 39, 37]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [30]:
# Your code here
set4 = [element for element in set2 if element not in set1]
print(set4)

[3, 78, 78, 10, 70, 32, 70, 16, 3, 3, 32, 78, 14, 100]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [31]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

AttributeError: 'list' object has no attribute 'intersection'

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here
if len(set1) == len(set3) + len(set5):
    print("Yes")
else:
    print("No")

if len(set2) == len(set4) + len(set5):
    print("True")
else:
    print("False")

#### Create an empty set called `set6`.

In [ ]:
# Your code here
set6 = set
set = ()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here
set6 = set3.update(set5)
print(set6)

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here
if set1 == set6:
    print("True")
else:
    print("False")

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here
contains1 = set1.issubset(set2)
print(contains1)
contains2 = set1.issubset(set3)
print(contains2)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here
union1 = set3.union(set4,set5)
print(union1)
union2 = set1.union(set2)
print(union2)

if union1 == union2:
    print("True")
else:
    print("False")

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here
set1.pop()
print(set1)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set(list_to_remove)
remove = set1 - set1 - set_to_remove
print(remove)